body {
  background-color: white;
  display: flex;
  justify-content:center;
}

main {
  width: 600px;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

button {  
  width: 90px;
  margin-right: 5px;
}

#nav {
  background: #9B2915;
  color:khaki;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

#body {
  background-color: white;
  padding: 20px;
} 

#nav div {
  width: 180px;
}

#nav div label {
  font-weight: bold;
}

#body img {
  width: 95%;
  max-height: 400px;
  padding: 5px;
  border: solid 2px #EFEFEF;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}
